@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/Pump.jpg" , width="330" height="450" />
    <img src="~/Content/Pump1.jpg" , width="350" height="450" />
    <img src="~/Content/Pump2.jpg" , width="330" height="450" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Start your body transformation with our best Products</h2>
        <p>
            In this section you could find our best Products, their Brands and how they have been produced. Take full picture of all possitive sides of each product
            and how it will change your body.
        </p>
        <div class="form-group">
            <div class="row">
                <div class="col-md-10">
                    @Html.ActionLink("See our Products", "All", "Product", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Get more info about our Suppliers</h2>
        <p>
            Find more about our Suppliers, about their production technology, best ingradients in their products. Learn more about their top products and athlets,
            which are their representatives.
        </p>
        <div class="form-group">
            <div class="row">
                <div class="col-md-10">
                    @Html.ActionLink("See our Suppliers", "All", "Supplier", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Our top Sellers</h2>
        <p>Find more about our top sellers, their addresses and their working time.</p>
        <div class="form-group">
            <div class="row">
                <div class="col-md-10">
                    @Html.ActionLink("Top Sellers", "All", "Seller", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
</div>