
@{
    ViewBag.Title = "Index";
}

<h2>Supplier Section</h2>
<hr />

<div class="form-group">
    <div class="row">
        <div class="col-md-10">
            @Html.ActionLink("Add Supplier", "create", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("All Suppliers", "all", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

